ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2E2F42;
}

.nav-logo-accent {
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.nav-logo-accent-black {
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-nav-link {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-nav-link:hover {
font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}
.address-link {
    font-family: var(--font-family);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-link:hover {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404BBF;
}

.section-one {
    width: 1440px;
        height: 600px;
        background-color: #2E2F42;
}

.section-one-title {
    font-family: var(--font-family);
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}

.section-one-button {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 10px;
            border-radius: 4px;
                padding: 16px 32px;
                width: 169px;
                height: 56px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
                    background: #4D5AE5;
}

.section-one-button:hover {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: var(--ocean);
            font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: var(--white);
}

.section-adv-headers {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.section-adv-text {
    font-family: var(--font-family);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-team {
    width: 1440px;
        height: 732px;
        background-color: #F4F4FD;
}

.section-team-title {
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
}

.section-team-img {
    width: 264px;
        height: 260px;
        background: url("path_to_image");
}

.section-team-people {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.section-team-text {
    font-family: var(--font-family);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.section-port-title {
    font-family: var(--font-family);
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
}

.section-port-img {
    width: 360px;
        height: 300px;
        background: url("path_to_image");
}

.section-port-points {
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.section-port-text {
    font-family: var(--font-family);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    width: 1440px;
        height: 312px;
        background-color: #2E2F42;
}

.footer-logo-accent-white {
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
}

.footer-text {
    font-family: var(--font-family);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}